@use "vuetify" with ($reset: false);
@import "./theme.scss";

.tbj-wrapper {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-size: 1rem;

    *,
    :before,
    :after {
        box-sizing: inherit
    }

    .tbj-footer {
        text-align: center;
        color: grey;
        margin-top: 1rem;
        font-size: 0.7rem;

        a {
            text-decoration: none;
            color: grey !important;
        }
   }
}