@use "vuetify" with ($reset: false);

div[data-key="tb-jobs"] {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    // overflow-x: hidden;
    // text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    *,
    :before,
    :after {
        box-sizing: inherit
    }
}

.tb-jobs-footer{
    text-align: center;
    color: grey;
    margin-top: 1rem;
    font-size: 0.8rem;

    a{
        text-decoration: none;
        color: grey;
    }
}